In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Col1','Col2','Col3','Col4'])
df

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [3]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],
                  columns=['Col1','Col2','Col3','Col4'],
                 dtype=float)
df

      Col1  Col2  Col3  Col4
Row1   0.0   1.0   2.0   3.0
Row2   4.0   5.0   6.0   7.0
Row3   8.0   9.0  10.0  11.0
Row4  12.0  13.0  14.0  15.0
Row5  16.0  17.0  18.0  19.0

In [4]:
df.loc['Row1']

Col1    0.0
Col2    1.0
Col3    2.0
Col4    3.0
Name: Row1, dtype: float64

In [5]:
df.iloc[0]

Col1    0.0
Col2    1.0
Col3    2.0
Col4    3.0
Name: Row1, dtype: float64

In [6]:
df.iloc[:,0]

Row1     0.0
Row2     4.0
Row3     8.0
Row4    12.0
Row5    16.0
Name: Col1, dtype: float64

In [7]:
df.iloc[:,2:]

      Col3  Col4
Row1   2.0   3.0
Row2   6.0   7.0
Row3  10.0  11.0
Row4  14.0  15.0
Row5  18.0  19.0

In [8]:
col= ['sepal_length','sepal_width','petal_length','petal_width','class']

df = pd.read_csv(r'D:\Krish Naik Youtube\Beginner_Level\Iris\iris.data',sep=',',names=col)
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [9]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [11]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [13]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [14]:
df['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [15]:
df[df['sepal_length'] > np.median(df.sepal_length)]

     sepal_length  sepal_width  petal_length  petal_width            class
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
56            6.3          3.3           4.7          1.6  Iris-versicolor
..            ...          ...           ...          ...              ...
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[70 rows x 5 columns]

In [16]:
df.groupby('class').nunique()

                 sepal_length  sepal_width  petal_length  petal_width
class
Iris-setosa                15           16             9            6
Iris-versicolor            21           14            19            9
Iris-virginica             21           13            20           12

In [17]:
url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
df1=pd.read_csv(url)
df1.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  194 non-null    object
 1   Region   194 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

In [19]:
import io
import requests

url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
request_1=requests.get(url).content
df2=pd.read_csv(io.StringIO(request_1.decode('utf-8')))
df2.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA